<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <title></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="shortcut icon" href="favicon.ico">
        
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <div class="header">
            <div class="navbar">
                <div class="container mg-tp-15 mg-bt-5">
                    <div class="navbar-header">
                        <a class="logo" href="">
                            <img src="/images/logo.jpg" alt="logo">
                        </a>
                    </div>

                    <ul class="nav navbar-nav" data-navbar>
                        <li>
                            <a href="/views/home/index.html">首页</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="/views/about/profile.html" data-level="2">关于我们</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="/views/capital/profile.html">嘉数资本</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">嘉数资产</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="/views/team/manage.html">管理团队</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="/views/dynamic/company.html">公司动态</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">嘉数 CLUB</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">联系我们</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="body">
            <div class="home_slogan">
                <div class="home_slogan__content">
                    <i class="home_slogan__icon fa fa-dollar"></i>

                    <i class="home_slogan__icon fa fa-jpy"></i>

                    <i class="home_slogan__icon fa fa-eur"></i>

                    <h1 class="home_slogan__title">嘉数资本 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 价值创造 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 以人为本</h1>
                </div>
            </div>
            
            <div class="layout-2 mg-tp-5">
                <div class="layout-2__side">
                    <ul class="navbar-side" data-navbar>
                        <li>
                            <a href="/views/capital/profile.html">
                                资本简介
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                投资理念
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                成功案例
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="layout-2__content capital">
                    <div class="layout-2__pnl">
                        <h2 class="layout-2__title">
                            资本简介
                            <i class="fa fa-users"></i>
                        </h2>
                        
                        <p class="capital__pnl-success">
                            股权投资管理。对有潜质的初创期和成长期的企业进行股权投资，协助企业提升经营业绩和公司价值，并通过上市和并购等手段实现投资退出，获取丰厚的投资回报。
                        </p>

                        <h3 class="text-center font-success">
                            专注于在重点领域内的创新与成长机会
                        </h3>

                        <div class="capital__pnl-primary">
                            <p>TMT &nbsp; &nbsp; &nbsp; 清洁技术</p>
                            <p>医疗健康 &nbsp; &nbsp; &nbsp; 先进制造</p>
                            <p>消费品 &nbsp; &nbsp; &nbsp; 现代服务</p>
                        </div>

                        <h3 class="text-center font-success">
                            重点投资于初创期和扩展期企业，兼顾种子期的项目
                        </h3>

                        <p class="capital__btns">
                            <span class="capital__btn-start">种子期</span>
                            <span class="capital__btn-middle">初创期</span>
                            <span class="capital__btn-middle">扩展前期</span>
                            <span class="capital__btn-middle">扩展后期</span>
                            <span class="capital__btn-end">Pre-IPO</span>
                            <span class="capital__btn-end">Post-IPO</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="footer">
            <div class="container">
                <div class="footer__pnl">
                    <img src="/images/weibo.png" alt="">

                    <h3 class="footer__title">嘉数微博</h3>
                </div>

                <div class="footer__pnl">
                    <img src="/images/weixin.png" alt="">

                    <h3 class="footer__title">嘉数微信</h3>
                </div>

                <ul class="footer__anchors">
                    <li><a href="">投资声名</a></li>
                    <li><a href="">站点地图</a></li>
                    <li><a href="">诚聘英才</a></li>
                </ul>

                <p class="footer__tip">
                    &copy; 2015~2016 Jiashu Capital All rights reserved. 京ICP备0502822X号
                </p> 
            </div>
        </div>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/requirejs/require.js"></script>

        <script>
            require(['/scripts/common/config.js'], function () {
                require(['common/index'], function () {

                });
            });
        </script>
    </body>
</html>
