<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <title></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="shortcut icon" href="favicon.ico">
        
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <div class="header">
            <div class="navbar">
                <div class="container mg-tp-15 mg-bt-5">
                    <div class="navbar-header">
                        <a class="logo" href="">
                            <img src="/images/logo.jpg" alt="logo">
                        </a>
                    </div>

                    <ul class="nav navbar-nav" data-navbar>
                        <li>
                            <a href="/views/home/index.html">首页</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="/views/about/profile.html" data-level="2">关于我们</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">嘉数资本</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">嘉数资产</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="/views/team/manage.html">管理团队</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="/views/dynamic/company.html">公司动态</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">嘉数 CLUB</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">联系我们</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="body">
            <div class="home_slogan">
                <div class="home_slogan__content">
                    <i class="home_slogan__icon fa fa-dollar"></i>

                    <i class="home_slogan__icon fa fa-jpy"></i>

                    <i class="home_slogan__icon fa fa-eur"></i>

                    <h1 class="home_slogan__title">嘉数资本 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 价值创造 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 以人为本</h1>
                </div>
            </div>
            
            <div class="layout-2 mg-tp-5">
                <div class="layout-2__side">
                    <ul class="navbar-side" data-navbar>
                        <li>
                            <a href="/views/team/manage.html">
                                管理团队
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                顾问
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="layout-2__content team">
                    <div class="layout-2__pnl">
                        <h2 class="layout-2__title">
                            管理团队
                            <i class="fa fa-users"></i>
                        </h2>

                        <div class="team__pnl">
                            <img class="team__avatar" src="/images/team/chairman.png" alt="">

                            <div class="team__desc">
                                <h4 class="team__desc-title">
                                    徐根旺 创始人 董事长
                                </h4>

                                <p class="team__desc-p">
                                    45岁，西安交通大学管理学博士，清华大学工商管理硕士。
                                </p>

                                <p class="team__desc-p">
                                    1992年开始从事金融投资工作，曾任西南证券营业部总经理，华龙证券总裁助理；2003年开始从事创投工作，曾先后担任中国成套设备进出口集团公司下属的中成创业投资有限责任公司总经理，北京首创集团下属的易天泰投资管理公司总经理，2010年发起设立天津汇融股权投资基金管理合伙企业和善长资产管理公司。期间创立北京善藏商业连锁有限公司。现担任嘉数资产管理公司的董事长；
                                </p>
                                <p class="team__desc-p">
                                    徐根旺先生有着长达二十多年的证券金融领域工作经验和十三年的创业投资经验，以及多年的实业经营经验，在政府资源、项目源开拓、投资项目的整体判断以及项目谈判方面具有丰富的经验。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="footer">
            <div class="container">
                <div class="footer__pnl">
                    <img src="/images/weibo.png" alt="">

                    <h3 class="footer__title">嘉数微博</h3>
                </div>

                <div class="footer__pnl">
                    <img src="/images/weixin.png" alt="">

                    <h3 class="footer__title">嘉数微信</h3>
                </div>

                <ul class="footer__anchors">
                    <li><a href="">投资声名</a></li>
                    <li><a href="">站点地图</a></li>
                    <li><a href="">诚聘英才</a></li>
                </ul>

                <p class="footer__tip">
                    &copy; 2015~2016 Jiashu Capital All rights reserved. 京ICP备0502822X号
                </p> 
            </div>
        </div>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/requirejs/require.js"></script>

        <script>
            require(['/scripts/common/config.js'], function () {
                require(['common/index'], function () {

                });
            });
        </script>
    </body>
</html>
