.footer {
    margin-top: 50px;
    padding-top: 30px;
    background-color: $brand-primary;

    @include e(pnl) {
        display: inline-block;
    }

    @include e(title) {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
    }

    @include e(anchors) {
        display: inline-block;
        margin-left: 50px;
        margin-top: 50px;
        vertical-align: top;

        > li {
            float: left;
        }

        > li > a {
            display: block;
            margin-left: 10px;
            padding-right: 10px;
            border-right: 2px solid #fff;
            color: #fff;
        }

        > li:last-child > a {
            border-right: none;
        }
    }

    @include e(tip) {
        display: inline-block;
        color: #fff;
    }
}

.layout-2 {
    @extend .container;
    display: table;

    @include e(side) {
        @extend .col-xs-3;
        display: table-cell;
        padding: 10px;
        border-radius: $border-radius-base;
        background-color: $brand-success;
    }

    @include e(content) {
        @extend .col-xs-9;
        display: table-cell;  
    }

    @include e(pnl) {
        border: 1px solid $gray-base;
        border-radius: $border-radius-base;
    }

    @include e(title) {
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        color: #fff;
        background-color: $brand-primary;
        overflow: hidden;

        > .fa {
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 80px;
        }
    }
}