<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <title></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="shortcut icon" href="favicon.ico">
        
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <div class="header">
            <div class="navbar">
                <div class="container mg-tp-15 mg-bt-5">
                    <div class="navbar-header">
                        <a class="logo" href="">
                            <img src="/images/logo.jpg" alt="logo">
                        </a>
                    </div>

                    <ul class="nav navbar-nav" data-navbar>
                        <li>
                            <a href="/views/home/index.html">首页</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="/views/about/profile.html" data-level="2">关于我们</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="/views/capital/profile.html">嘉数资本</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">嘉数资产</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="/views/team/manage.html">管理团队</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="/views/dynamic/company.html">公司动态</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">嘉数 CLUB</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">联系我们</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="body">
            <div class="home_slogan">
                <div class="home_slogan__content">
                    <i class="home_slogan__icon fa fa-dollar"></i>

                    <i class="home_slogan__icon fa fa-jpy"></i>

                    <i class="home_slogan__icon fa fa-eur"></i>

                    <h1 class="home_slogan__title">嘉数资本 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 价值创造 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 以人为本</h1>
                </div>
            </div>
            <div class="container">
                <div class="home_row">
                    <div class="home_pnl">
                        <i class="home_pnl__icon fa fa-lightbulb-o"></i>

                        <h3 class="home_pnl__title">
                            公司理念
                        </h3>
                        <p class="home_pnl__info">
                            富而有道 &nbsp; 人才资本
                            
                        </p>
                        <p class="home_pnl__info">
                            团队制胜 &nbsp; 创新精神
                        </p>
                    </div>

                    <div class="home_pnl">
                        <i class="home_pnl__icon fa fa-cogs"></i>

                        <h3 class="home_pnl__title">
                            投资策略
                        </h3>
                        <p class="home_pnl__info">
                            事为先 &nbsp; 人为重
                            
                        </p>
                        <p class="home_pnl__info">
                            积极主动的增值服务
                        </p>
                    </div>

                    <div class="home_pnl">
                        <i class="home_pnl__icon fa fa-users"></i>

                        <h3 class="home_pnl__title">
                            管理团队
                        </h3>
                        <p class="home_pnl__info">
                            志同道合
                        </p>
                        <p class="home_pnl__info">
                            丰富的企业运作与投资经验
                        </p>
                    </div>
                </div>
                
                <div class="home_row">
                    <div class="home_info">
                        <h3 class="home_info__title">公司新闻</h3>

                        <div class="home_news">
                            <span class="home_news__date">2016-03-16</span>
                            <p class="home_news__summary">
                                嘉数资本总裁徐根旺：VC/PE正在进入第二阶段，格局将变。
                            </p>
                            <a href="" class="home_news__detail">
                                详情
                            </a>
                        </div>

                        <div class="home_news">
                            <span class="home_news__date">2016-03-16</span>
                            <p class="home_news__summary">
                                嘉数资本总裁徐根旺：VC/PE正在进入第二阶段，格局将变。
                            </p>
                            <a href="" class="home_news__detail">
                                详情
                            </a>
                        </div>

                        <div class="home_news">
                            <span class="home_news__date">2016-03-16</span>
                            <p class="home_news__summary">
                                嘉数资本总裁徐根旺：VC/PE正在进入第二阶段，格局将变。
                            </p>
                            <a href="" class="home_news__detail">
                                详情
                            </a>
                        </div>
                    </div>

                    <div class="home_info">
                        <h3 class="home_info__title">成功案例</h3>

                        <img class="home__case" src="/images/home/case.png" alt="">
                    </div>

                    <div class="home_info">
                        <h3 class="home_info__title">关于嘉数</h3>

                        <p class="home__about">
                            &nbsp; &nbsp; &nbsp; &nbsp;嘉数资产管理有限公司是一家专业的投资管理机构，主要业务包括：
                        </p>
                        <p class="home__about">
                            &nbsp; &nbsp; &nbsp; &nbsp;股权投资管理。对有潜质的初创期和成长期的企业进行股权投资，协助企业提升经营业绩和公司价值，并通过上市和并购等手段实现投资退出，获取丰厚的投资回报；证券资产管理。根据客户风险偏好及资产状况，密切跟踪股票、债券、基金及多市场套利机会，为客户提供具有较好风险收益特征的资产稳健增值策略及产品。                      
                        </p>
                        
                        <p class="home__about">
                            &nbsp; &nbsp; &nbsp; &nbsp;嘉数资产管理公司的合伙人均为具有丰富操作经验、熟悉公司运营和资本市场的专业投资人士。
                        </p>                        
                    </div>    
                </div>
            </div>
        </div>
            
        <div class="footer">
            <div class="container">
                <div class="footer__pnl">
                    <img src="/images/weibo.png" alt="">

                    <h3 class="footer__title">嘉数微博</h3>
                </div>

                <div class="footer__pnl">
                    <img src="/images/weixin.png" alt="">

                    <h3 class="footer__title">嘉数微信</h3>
                </div>

                <ul class="footer__anchors">
                    <li><a href="">投资声名</a></li>
                    <li><a href="">站点地图</a></li>
                    <li><a href="">诚聘英才</a></li>
                </ul>

                <p class="footer__tip">
                    &copy; 2015~2016 Jiashu Capital All rights reserved. 京ICP备0502822X号
                </p> 
            </div>
        </div>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/requirejs/require.js"></script>

        <script>
            require(['/scripts/common/config.js'], function () {
                require(['common/index'], function () {

                });
            });
        </script>
    </body>
</html>
