<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <title></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="shortcut icon" href="favicon.ico">
        
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <div class="header">
            <div class="navbar">
                <div class="container mg-tp-15 mg-bt-5">
                    <div class="navbar-header">
                        <a class="logo" href="">
                            <img src="/images/logo.jpg" alt="logo">
                        </a>
                    </div>

                    <ul class="nav navbar-nav" data-navbar>
                        <li>
                            <a href="/views/home/index.html">首页</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="/views/about/profile.html" data-level="2">关于我们</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">嘉数资本</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">嘉数资产</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">管理团队</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">公司动态</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">嘉数 CLUB</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">联系我们</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="body">
            <div class="home_slogan">
                <div class="home_slogan__content">
                    <i class="home_slogan__icon fa fa-dollar"></i>

                    <i class="home_slogan__icon fa fa-jpy"></i>

                    <i class="home_slogan__icon fa fa-eur"></i>

                    <h1 class="home_slogan__title">嘉数资本 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 价值创造 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 以人为本</h1>
                </div>
            </div>
            
            <div class="layout-2 mg-tp-5">
                <div class="layout-2__side">
                    <ul class="navbar-side" data-navbar>
                        <li>
                            <a href="/views/about/profile.html">
                                公司简介
                            </a>
                        </li>
                        <li>
                            <a href="/views/about/concept.html">
                                公司理念
                            </a>
                        </li>
                        <li>
                            <a href="/views/about/brand.html">
                                公司品牌
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="layout-2__content about">
                    <div class="layout-2__pnl">
                        <h2 class="layout-2__title">
                            关于嘉数
                            <i class="fa fa-comments"></i>
                        </h2>

                        <p class="about__p">
                            &nbsp; &nbsp; &nbsp; &nbsp;嘉数资产管理有限公司是一家专业的投资管理机构，主要业务包括：
                        </p>
                        
                        <p class="about__p">
                            &nbsp; &nbsp; &nbsp; &nbsp;股权投资管理。对有潜质的初创期和成长期的企业进行股权投资，协助企业提升经营业绩和公司价值，并通过上市和并购等手段实现投资退出，获取丰厚的投资回报；
                        </p>
                        
                        <p class="about__p">
                            &nbsp; &nbsp; &nbsp; &nbsp;证券资产管理。根据客户风险偏好及资产状况，密切跟踪股票、债券、基金及多市场套利机会，为客户提供具有较好风险收益特征的资产稳健增值策略及产品。
                        </p>
                        <p class="about__p">
                            &nbsp; &nbsp; &nbsp; &nbsp;嘉数资产管理公司的合伙人均为具有丰富操作经验、熟悉公司运营和资本市场的专业投资人士。
                        </p>


                        <h2 class="layout-2__title">
                            关于嘉数
                            <i class="fa fa-comments"></i>
                        </h2>
                        
                        <p class="text-center  mg-bt-20">
                            <span class="about__btn-sm">
                                投资理念：价值创造
                            </span>
                        </p>

                        <p class="about__p">
                            &nbsp; &nbsp; &nbsp; &nbsp;除为企业注入发展所需资金之外，更注重长期的增值服务，提供企业所需的各类资源，通过战略梳理、机制调整、财务优化等，帮助企业建立和强化行业领先地位，并在此基础上获取投资回报。
                        </p>

                        <p class="about__p">
                            &nbsp; &nbsp; &nbsp; &nbsp;增值服务商：通过提供系统的增值服务，帮助企业成为行业领先企业，选择合适的时机和方式退出，实现投资收益。
                        </p>

                        <p class="about__p">
                            &nbsp; &nbsp; &nbsp; &nbsp;长期投资者：坚信“投资是投人”，选择与企业家长期结伴同行，专注于发现价值、创造价值，超越单纯的资本运作。
                        </p>

                        <h2 class="layout-2__title">
                            <p>
                                <span class="about__btn-succ">
                                    核心价值观
                                </span>
                            </p>
                            <p>
                                <span class="about__btn-light">
                                    求实进取 &nbsp; &nbsp; 以人为本
                                </span>
                            </p>    
                        </h2>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="footer">
            <div class="container">
                <div class="footer__pnl">
                    <img src="/images/weibo.png" alt="">

                    <h3 class="footer__title">嘉数微博</h3>
                </div>

                <div class="footer__pnl">
                    <img src="/images/weixin.png" alt="">

                    <h3 class="footer__title">嘉数微信</h3>
                </div>

                <ul class="footer__anchors">
                    <li><a href="">投资声名</a></li>
                    <li><a href="">站点地图</a></li>
                    <li><a href="">诚聘英才</a></li>
                </ul>

                <p class="footer__tip">
                    &copy; 2015~2016 Jiashu Capital All rights reserved. 京ICP备0502822X号
                </p> 
            </div>
        </div>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/requirejs/require.js"></script>

        <script>
            require(['/scripts/common/config.js'], function () {
                require(['common/index'], function () {

                });
            });
        </script>
    </body>
</html>
