.dynamic {

    @include e(news) {
        width: 600px;
        margin: 0 auto;
        color: $gray;
    }

    @include e(news-title) {
        text-align: center;
        font-size: 23px;
        font-weight: 400;
        color: $brand-success;
    }

    @include e(news-tip) {

        color: $brand-success;
    }

    @include e(news-p) {
        text-indent: 30px;
    }
}