<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <title></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="shortcut icon" href="favicon.ico">
        
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <div class="header">
            <div class="navbar">
                <div class="container mg-tp-15 mg-bt-5">
                    <div class="navbar-header">
                        <a class="logo" href="">
                            <img src="/images/logo.jpg" alt="logo">
                        </a>
                    </div>

                    <ul class="nav navbar-nav" data-navbar>
                        <li>
                            <a href="/views/home/index.html">首页</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="/views/about/profile.html" data-level="2">关于我们</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">嘉数资本</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">嘉数资产</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">管理团队</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="/views/dynamic/company.html">公司动态</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">嘉数 CLUB</a>
                        </li>
                        <li>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="">联系我们</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="body">
            <div class="home_slogan">
                <div class="home_slogan__content">
                    <i class="home_slogan__icon fa fa-dollar"></i>

                    <i class="home_slogan__icon fa fa-jpy"></i>

                    <i class="home_slogan__icon fa fa-eur"></i>

                    <h1 class="home_slogan__title">嘉数资本 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 价值创造 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 以人为本</h1>
                </div>
            </div>
            
            <div class="layout-2 mg-tp-5">
                <div class="layout-2__side">
                    <ul class="navbar-side" data-navbar>
                        <li>
                            <a href="/views/dynamic/company.html">
                                公司动态
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                投后动态
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                业界动态
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                分析报告
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="layout-2__content dynamic">
                    <div class="layout-2__pnl">
                        <h2 class="layout-2__title">
                            公司新闻
                            <i class="fa fa-pie-chart"></i>
                        </h2>
                        
                        <div class="dynamic__news">
                            <h4 class="dynamic__news-title">
                                嘉数资本总裁徐根旺：VC/PE正在进入第二阶段，格局将变
                            </h4>

                            <p class="dynamic__news-tip">
                                新闻来源：投资界　 文|李梅 谭宵寒 2015-11-30 13:46
                            </p>
                            
                            <p class="dynamic__news-p">
                                《投资界》：2015年的VC/PE行业有哪些变化是值得记录下来的？
                            </p>

                            <p class="dynamic__news-p">
                                陈浩：VC/PE在中国已经经历了将近20年的发展，走过了一段相对比较好的阶段。而今年行业还是有很大变化的，这从2014年就可以看出苗头，总结来看有三点：
                            </p>

                            <p class="dynamic__news-p">
                                1.从募资上来看，人民币基金募集的规模和数量都大大超过美元基金。十几年前，主流基金的募资都是从美元开始，投资也是从美元开始，而近两年尤其是2015年，人民币基金的兴起已经在改变这种模式。
                            </p>

                            <p class="dynamic__news-p">
                                2.从退出上来看，退出渠道变得更加多样。今年的A股虽然有起伏波动，但也再造了一批成功的上市企业，给VC/PE行业带来很多很好的产出回报；同时后期A股暂停IPO，带来了行业并购以及股权出售等其它的退出机会。十几年前机构的退出渠道很窄，主要就是将企业推到美国的纳斯达克上市，相当于过独木桥，而如今的退出渠道则是丰富多彩的。
                            </p>

                            <p class="dynamic__news-p">
                                3.VC/PE迎来创业潮。一批有经验的GP离开原有的机构创立新的基金，这种现象从2014年开始，在2015年达到了一个浪潮，这无疑会引起从业较久的老牌机构的思考，这波人才流失对原有的机构发展可能是损失，但对整个行业持续发展来说未必是坏事，代表着新想法、新形式的出现。
                            </p>

                            <p class="dynamic__news-p">
                                而这些变化也形成了三个重要标志：
                            </p>

                            <p class="dynamic__news-p">
                                一是”两头在外“这个词将消失。”两头在外“是指募集资本在国外、退出在国外，这种格局在2015年发生了根本性的变化，人民币基金的崛起，A股以及并购等多样的退出渠道的出现将让这一词汇成为历史记忆，行业将翻开新的一页。
                            </p>

                            <p class="dynamic__news-p">
                                二是VC/PE行业已经走过了十几年快速发展的第一阶段，即将或者已经进入到第二阶段，行业会逐步走向成熟。而这一过程必然有调整、整合，这一阶段可能是10年、20年，而能够在这一阶段依然留下来并且处于领先地位的机构才算得上是真正的赢家。
                            </p>

                            <p class="dynamic__news-p">
                                三是未来VC/PE行业也将展开差异化竞争。每一只基金都应该思考自己的特色，而这种特色是足以支持机构持续化发展，对创新创业带来帮助，会推动整个行业发展。此外，新的基金还会层出不穷地产生，这样才能保证行业自身的创新。
                            </p>

                            <p class="dynamic__news-p">
                                《投资界》：今年并购案尤其多，而且特殊的是都是行业老大和老二合并，这对其背后的投资人以及VC/PE行业有什么影响？
                            </p>

                            <p class="dynamic__news-p">
                                陈浩：事实上两家企业合并后，双方是在成本、价值上有一定的改变，并没有给VC/PE带来根本性的改变，一般并购会带来比较大的影响的是一个企业被另一家更大的企业收购。
                            </p>

                            <p class="dynamic__news-p">
                                在合并案中VC/PE确实起到了一定的推动作用，但是企业合并不能完全因为资本因素而合并，真正有价值的合并是建立在双方企业战略互补的基础上，行业的竞争应该是良性竞争而不是恶性竞争，应该将更多的精力放在产品、技术、服务方面，而不是去过度占领。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="footer">
            <div class="container">
                <div class="footer__pnl">
                    <img src="/images/weibo.png" alt="">

                    <h3 class="footer__title">嘉数微博</h3>
                </div>

                <div class="footer__pnl">
                    <img src="/images/weixin.png" alt="">

                    <h3 class="footer__title">嘉数微信</h3>
                </div>

                <ul class="footer__anchors">
                    <li><a href="">投资声名</a></li>
                    <li><a href="">站点地图</a></li>
                    <li><a href="">诚聘英才</a></li>
                </ul>

                <p class="footer__tip">
                    &copy; 2015~2016 Jiashu Capital All rights reserved. 京ICP备0502822X号
                </p> 
            </div>
        </div>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/requirejs/require.js"></script>

        <script>
            require(['/scripts/common/config.js'], function () {
                require(['common/index'], function () {

                });
            });
        </script>
    </body>
</html>
